body {
    background-color: #A4193D;
    font-weight: 100;
    color:#FFDFB9;
    margin:0px;
}
a {
    color:#FFDFB9;
    text-decoration: none;
    font-family:serif;
}
h1 {
    font-size:70px;
    text-align:center;
    border-bottom: 1px solid #FFDFB9;
    margin: 0;
    padding: 20px;
}
ol { 
    border-right: 1px solid #FFDFB9;
    width: 95px;
    margin:0px;
    padding:20px;
}
#active{
    color:#ff8c00;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid ol {
    padding-left:35px;
}
#article {
    padding-left: 25px;
    padding-right: 25px;
}
h2 {
    margin-bottom: -5px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}